bin/Debug/netcoreapp3.1/Weather.dll
bin/Debug/netcoreapp3.1/Weather.pdb
.vs/Weather/DesignTimeBuild/.dtbcache.v2
obj/Debug/netcoreapp3.1/Weather.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Weather.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Weather.dll
obj/Debug/netcoreapp3.1/Weather.pdb
.vs/Weather/config/applicationhost.config
.vs/Weather/v16/.suo
bin/Debug/netcoreapp3.1/Weather.dll
bin/Debug/netcoreapp3.1/Weather.pdb
bin/Debug/netcoreapp3.1/Weather.dll
bin/Debug/netcoreapp3.1/Weather.pdb
bin/Debug/netcoreapp3.1/Weather.dll
bin/Debug/netcoreapp3.1/Weather.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Weather.csproj.EntityFrameworkCore.targets
obj/Weather.csproj.nuget.dgspec.json
obj/Weather.csproj.nuget.g.props
obj/Weather.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/Weather.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Weather.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Weather.assets.cache
obj/Debug/netcoreapp3.1/Weather.csproj.CopyComplete
obj/Debug/netcoreapp3.1/Weather.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Weather.exe
obj/Debug/netcoreapp3.1/Weather.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Weather.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/Weather.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/Weather.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/Weather.StaticWebAssets.xml
